In [1]:
def test1(a, b, c, d):
    return a, b, c, d

In [2]:
test1(2,5,68,9)

(2, 5, 68, 9)

If I want to pass more than 4 arguments in the above function I need to create a new function. 

Because if I pass more or fewer than four arguments to the function test1(), will get a TypeError exception.

In [3]:
# it is used to write functions that can handle an arbitrary number of arguments
def test2(*n_args):    # the asterisk(*) indicates that the function can accept any number of arguments.
    return n_args

In [4]:
test2(2, 5, 6, 7, 9, 11, 35, 2, 1, 0)

(2, 5, 6, 7, 9, 11, 35, 2, 1, 0)

In [5]:
test2(2, {5, 0, 22, 4}, 6, 7, 9, "Priti", 35, 2, 1, 0)

(2, {0, 4, 5, 22}, 6, 7, 9, 'Priti', 35, 2, 1, 0)

In [6]:
# This function throws an error after running the code
def test3(*n_args, x):    
    return n_args, x

In [7]:
test3(2, 5, 7, 8, 9, 10)

TypeError: test3() missing 1 required keyword-only argument: 'x'

###### TypeError: test3() missing 1 required keyword-only argument: 'x'

In [8]:
# this error indicates that the argument x cannot be specified after the variable-length parameter *n_args

In [9]:
# to handle above error
test3(2, 5, 7, 8, 9, 10, x=1898)

((2, 5, 7, 8, 9, 10), 1898)

In [10]:
# we can also do this
def test4(x, *n_args):    
    return n_args, x

In [11]:
# It by default takes first argument as the value of x as x is the first argument in the function definition
test4(1, "Wednesday", 899, {12.78, "abcd", 987})

(('Wednesday', 899, {12.78, 987, 'abcd'}), 1)

In [12]:
def test5(*args):
    for i in args:
        if type(i) == list:
            print(i)

In [13]:
test5({1, 5, 6}, "PC", [3, 7, 9, 10], 56.8, 90)

[3, 7, 9, 10]

In [14]:
test5("PC", [3, 7, 9, 10], 56.8, 90, [89, 799, 80, 9])

[3, 7, 9, 10]
[89, 799, 80, 9]

In [15]:
""" 
but the return type of print is null 
that means if I want to do any kind of operation on the result then I won't be able to do it
"""

# We can modify the function as follows:
l = []
def test6(*args):  # args is not a reseved keyword 
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

In [16]:
test6("PC", [3, 7, 9, 10], 56.8, 90, [89, 799, 80, 9])

[[3, 7, 9, 10], [89, 799, 80, 9]]

In [17]:
# this function uses the double asterisk (**) operator to create a configuration dictionary for a database
# i.e. to make funtion understand that accept the input parameters as key-value pair
def test7(**args):  # A variable number of keyword arguments
    return args  # No matter what kind of data you pass it will return the values in a dictionary

In [18]:
test7(a = [34, 67, 98], b = "56778", c = "Hello", d = 568987, e = 78.89)
# If you don't mention 'a=', 'b=', etc. it'll throw an error

{'a': [34, 67, 98], 'b': '56778', 'c': 'Hello', 'd': 568987, 'e': 78.89}

In [22]:
# lambda can be used where a small, anonymous function is needed
x = lambda a, b: a*b

In [23]:
x(4, 16)

64

In [24]:
y = lambda a, b: (a*b, a+b)
y(12, 10)

(120, 22)

In [25]:
t = lambda *a : a

In [26]:
t(12, 34, 89)

(12, 34, 89)